<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CV</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <div><img src="img/logo.jpg" alt=""></div>
            <ul>
                <a href="index.html"><li>Accueil</li></a>
                <a href="programmation.html"><li>Programmation</li></a>
                <a href="art.html"><li>Art</li></a>
                <a href="science.html"><li>Science</li></a>
                <a href="gaming.html"><li>Gaming</li></a>
            </ul>
        </nav>
        </header>
      <hr> 
      <section class="gaming">
            <h2>ERROR 404</h2>
      </section>
<center><a class="suite" href="index.html">Accueil</a></center> 
<footer>
    <img src="img/footer_img.jpg" alt="">
    <h4>© 2018 Handigital - Chambéry - Lien 2 - Lien 3</h4>
    <!-- 
    #
    #
    # -->
</footer>
</main>
<script src="view.js"></script>
<!-- <script src="../model/fonctions.js"></script -->
</body>
</html>